.main-navbar{ 
  display: flex;
  position: relative;
justify-content: space-around;
float: right;
padding-top: 1.33em;
word-spacing: 10px;
width: 40%;
}

a{
  text-decoration:none ;
  color:gray;
  }
  .active{
color: #00b39b;
}


.img-logo{
  
    display: block;
    align-items: center;
    margin-left: 50%;
    margin-right: 50%;
    width: 8%;

  
}
.title{
  
  color:#00b39b;
  text-align:center;
  font-family:system-ui;
  font-size:2.125rem ;
}

.pr{
  display: flex;
  color: rgb(139, 124, 124);

  margin-left: 25%;
  margin-right:25%;
line-height: 1.75em;
font-weight: justify;
font-family:Arial, Helvetica, sans-serif;
padding: 20px;

}

 
.countries{
  border:0;
  border-radius: 0;
  padding: 0 3.5em 0 3.5em;
  width: 100%;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  margin-top:3px;
background-color: white;
text-decoration: underline;
}



  

.services{
  border:10% ;
  margin: auto;
width: 700px;
  height :300px;
  background-color:white ;
  display: grid;
grid-template-columns: repeat(3,1fr);
grid-row: repeat(3,1fr);
column-gap: 30px;
padding: 2em 2em 0;

}

  .patients{
    background-color: #00ccb1;
    border-radius: 0.5cm;
    height: 400px;
    color:white;
    width: 300;
   
  }
  .doctors{
   
    background-color:#3d83df ;
    border-radius: 0.5cm;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    width: 300;
    height: 400;
    
  }
  .clinics{
    background-color:#1b2734 ;
    border-radius: 0.5cm;
    width: 300;
    height: 400;
    color:white;
    margin:0.5em;
  }
  .global-company {
   
display: flex;
   
padding-bottom: 30px;
   
margin-left: 100;
   
align-items: baseline;
   
width: 50%;
   
color: rgb(97, 228, 228);
   
font-size:15px;
   
margin-top: 150px;
  }
  
  .list-company{
    display: flex;
    padding: 0 20px;
   margin-bottom: 30px ;
  }
  .office-head{
    font-size: 100e;
    text-align: center;
color: #00b39b;
  }
.imgaplatform{
  margin-top: 200;
}

.platform-{
  display: flex;
  flex-direction: column;
  margin: 45px 0px;
  margin-bottom: 40;
    width: 40%;
}
.platform{
  background-color: #e5faf8;
  display: flex;
  height: 580px;

  padding: 6%;
  overflow: hidden;
  justify-content: center;
}
.flag{
  background: white;
    width: 240px;
    height: 260px;
    margin-top: 20px;
    text-align: center;
}
.visits{
  background: white;
  width: 240px;
  height: 260px;
  margin-top: 20px;
  text-align: center;

}
.patients1{
  background: white;
  width: 240px;
  height: 260px;
  margin-top: 20px;
  text-align: center;
}
.doctors1{
  background: white;
  width: 240px;
  height: 260px;
  margin-top: 20px;
  text-align: center;
}
.platform-right{
  float: left;
    min-height: 1px;
    padding: 10px;
    display: flex;
}
.office-slide{
  margin: 82px auto;
  margin-top: 300;
  display: grid;
  grid-template-rows: 120px 168px;
  grid-template-columns: 299px 301px 203px;
  grid-row-gap: 239px;
  grid-column-gap: 107px;
  grid-gap: 38px;
  grid-gap: 50px;
  
  grid-row-gap: 153px;
  grid-column-gap: 83px;
  grid-gap: 30px;
  justify-items: start;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}


.bottom{
  display: inline;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 6px;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 300;
 

    text-transform: uppercase;
}
   
.countries{
 
    text-decoration: none;
    color: #32537e;
}

